{% extends 'base.html' %} 
{% block content %}


<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>


<div class="home-container">
  <div>
    <h3>Browse Topics</h3>
    <hr />
    <div><a href="{% url 'base:home' %}">All</a></div>
    {% for topic in topics %}
        <div><a href="{% url 'base:home' %}?q={{topic.name}}">{{ topic.name }}</a></div>
    {% endfor %}
  </div>
  <div>
    <h5>{{room_cout}} rooms are available</h5>
    <a href="{% url 'base:create-room' %}">Create Room</a>
    {% for room in rooms %}
    <div>
      {% if request.user == room.host %}
        <a href="{% url 'base:update-room' room.id %}">Edit</a>
        <a href="{% url 'base:delete-room' room.id %}">Delete</a>
      {% endif %}

      <span>@{{room.host.username}}</span>
      <a href="{% url 'base:room' pk=room.id %}"
        ><h1>{{ room.id }}==>{{ room.name }}</h1></a
      >
      <span>{{room.topic}}</span>
      <hr />
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
